/* inter google font included  */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;900&display=swap');


*							            { margin: 0px; padding: 0px; box-sizing: border-box; }
ul,ol						            { list-style: none; margin: 0px;}
a							            { text-decoration: none; outline: none; transition-duration: 0.5s; }
p                                       { margin-bottom: 0px; font-size: 16px; line-height: 20px; }
h1,h2,h3,h4,h5,h6                       { font-family: 'Inter', sans-serif; }
h1,h4                                   { color: #362063; }
h1                                      { font-size: 94px; line-height: 94px; font-weight: 300;  }
h4                                      { font-size: 24px; line-height: 38.4px; font-weight: 400; }
/* banner section start */
body                                    { height: 100vh; position: relative;}
.logo                                   { display: block;}
.logo img                               { max-width: 350px; width: 100%;}
.bg-wrapper                             { flex-direction: column; position: absolute; left: 0px; top: 0px; width: 100%; height: 100%; z-index: -1; align-items: flex-end; }
.banner-landing-page                    { padding: 0px 0px 48px; height: 100%; }
.banner-wrapper                         { padding-top: 65px; position: relative; height: 100%; }
.mobile-slider-wrapper                  { margin-left: -20%; }
.mobile-slider-wrapper .slick-slide img { margin: 0 auto; padding-bottom: 20px; width: auto; height: auto; max-width: 100%; max-height: 80vh; filter:drop-shadow(12px 8px 5px rgba(0, 0, 0, 0.7));}
.banner-landing-page h1 span            { font-weight: 700; }
.banner-landing-page h4 span            { font-weight: 600; }
.banner-left-box                        { display: flex; padding-left: 80px; position: relative; height: 100%; flex-direction: column;}
.banner-txt-wrap                        { margin-top: 150px; }
.banner-txt-wrap  h1                    { margin-bottom: 24px; }
.social-box                             { margin-top: auto; }
.social-box h4                          { font-weight: 500; }
.slick-slider .slick-slide              { display: inline-block;}
.social-list                            { margin-left: 32px; padding-left: 0px; }
.social-list li                         { margin-right: 35px; }
.social-box h4,.social-box a            { color: #9B8FB1; }
.social-box a                           { font-size: 30px; line-height: 30px; }
.main-image                             {  width: 50%; height: 100%; background: url('../images/banner-bg-right1.png') no-repeat top left / cover;}
.gradient                               { background: radial-gradient(96.64% 86.79% at 3.36% 13.21%, #FFBD15 0%, #FF55C6 100%); border-radius: 64px 0px 0px 140px; width: 70%; height: 37vh;}
.copyright-box                              { margin-top: -30px; }

@media (min-width: 1600px) and (max-width: 1699px)
{
    h1                                      { font-size: 70px; line-height: 70px;  }
    h4                                      { font-size: 18px; line-height: 30.4px; }
}

@media (min-width: 1400px) and (max-width: 1599px)
{
    h1                                      { font-size: 70px; line-height: 70px;  }
    h4                                      { font-size: 18px; line-height: 30.4px; }
}
@media (min-width: 1200px) and (min-height: 600px) and (max-height: 750px){
    .banner-txt-wrap                        { margin: auto 0; }
}

@media (min-width: 1200px) and (max-width: 1399px)
{
    h1                                      { font-size: 55px; line-height: 55px;  }
    h4                                      { font-size: 20px; line-height: 34.4px; }
    .banner-landing-page                    { padding: 0px 0px 48px; height: 100%; }
    .banner-wrapper                         { padding-top: 65px; position: relative; height: 100%; }

}
@media (min-width: 992px){
    .banner-wrapper .container-fluid,
    .banner-wrapper .row                    { height: 100%;}
    .banner-txt-wrap                        { padding-right: 20px;}
}

@media (min-width: 992px) and (max-width: 1199px)
{
    h1                                      { font-size: 52px; line-height: 52px;  }
    h4                                      { font-size: 205x; line-height: 34.4px; }
    p                                       { font-size: 15px; line-height: 18px; }    
    .banner-left-box img                    { max-width: 55%; }
    .mobile-slider-wrapper                  { margin-left: -20%; }
    .mobile-slider-wrapper .slick-slide img { height: 62vh;   }
    .banner-left-box                        { padding-left: 45px;}
    .social-box                             { left: 45px; }
    .banner-txt-wrap                        { margin-top: 110px; }
    .banner-txt-wrap  h1                    { margin-bottom: 22px; }
    .social-box a                           { font-size: 25px; line-height: 25px; }
    .gradient                               { width: 65%;}
}


@media (min-width: 768px) and (max-width: 991px) 
{
    h1                                      { font-size: 46px; line-height: 46px;  }
    h4                                      { font-size: 22px; line-height: 32.4px; }
    p                                       { font-size: 15px; line-height: 18px; }
    body                                    { height: auto;}
    .logo img                               { max-width: 250px;}
    .banner-left-box                        { padding-left: 0px; padding-right: 20px;}
    .banner-wrapper                         { padding-top: 35px;}
    .banner-landing-page,
    .banner-wrapper                         { position: static; height: auto;}
    .slick-slide                            { height: auto;}
    .banner-left-box                        { padding-left: 0px;}
    .banner-txt-wrap                        { margin-top: 40px; text-align: center;}
    .social-box a                           { font-size: 20px; line-height: 30px; }
    .social-list li                         { margin-right: 25px; }
    .mobile-slider-wrapper                  { margin: 40px 0;}
    .mobile-slider-wrapper .slick-slide img { height: auto; width: 100%; max-width: 85%; max-height: inherit; }
    .main-image                             { display: none;}
    .gradient                               { margin: auto 0 95px; width: 95%; border-radius: 64px 0px 0px 92px; height: 215px;}
}


@media (max-width: 767px)  
{
    h1                                      { font-size: 42px; line-height: 42px;  }
    h4                                      { font-size: 20px; line-height: 30.4px; }
    p                                       { font-size: 14px; line-height: 16px; }
    body                                    { height: auto;}
    .logo img                               { max-width: 200px;}
    .banner-wrapper                         { padding-top: 35px;}
    .banner-landing-page,
    .banner-wrapper                         { position: static; height: auto;}
    .slick-slide                            { height: auto;}
    .banner-left-box                        { padding-left: 0px;}
    .banner-txt-wrap                        { margin-top: 40px; text-align: center;}
    .social-box a                           { font-size: 20px; line-height: 30px; }
    .social-list li                         { margin-right: 25px; }
    .mobile-slider-wrapper                  { margin: 40px 0;}
    .mobile-slider-wrapper .slick-slide img { height: auto; width: 100%; max-width: 85%; }
    .main-image                             { display: none;}
    .gradient                               { margin: auto 0 95px; width: 95%; border-radius: 64px 0px 0px 92px; height: 215px;}
}

@media (max-width: 576px)
{
    .copyright-box { margin-top: -35px; }
}