/* inter google font included  */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;900&display=swap');


*							            { margin: 0px; padding: 0px; box-sizing: border-box; }
ul,ol						            { list-style: none; margin: 0px;}
a							            { text-decoration: none; outline: none; transition-duration: 0.5s; }
p                                       { margin-bottom: 0px; font-size: 16px; line-height: 20px; }
h1,h2,h3,h4,h5,h6                       { font-family: 'Inter', sans-serif; }
h1,h4                                   { color: #362063; }
h1                                      { font-size: 94px; line-height: 94px; font-weight: 300;  }
h4                                      { font-size: 24px; line-height: 38.4px; font-weight: 400; }
/* banner section start */
body                                    { height: 100vh; position: relative;}
.logo                                   { display: block;}
.logo img                               { max-width: 350px; width: 100%;}
.bg-wrapper                             { flex-direction: column; position: absolute; left: 0px; top: 0px; width: 100%; height: 100%; z-index: -1; align-items: flex-end; }
.banner-landing-page                    { padding: 0px 0px 48px; height: 100%; }
.banner-wrapper                         { padding-top: 65px; position: relative; height: 100%; }
.mobile-slider-wrapper                  { margin-left: -20%; }
.mobile-slider-wrapper .slick-slide img { margin: 0 auto; padding-bottom: 20px; width: auto; height: auto; max-width: 100%; max-height: 80vh; filter:drop-shadow(12px 8px 5px rgba(0, 0, 0, 0.7));}
.banner-landing-page h1 span            { font-weight: 700; }
.banner-landing-page h4 span            { font-weight: 600; }
.banner-left-box                        { display: flex; padding-left: 80px; position: relative; height: 100%; flex-direction: column;}
.banner-txt-wrap                        { margin-top: 150px; }
.banner-txt-wrap  h1                    { margin-bottom: 24px; }
.social-box                             { margin-top: auto; }
.social-box h4                          { font-weight: 500; }
.slick-slider .slick-slide              { display: inline-block;}
.social-list                            { margin-left: 32px; padding-left: 0px; }
.social-list li                         { margin-right: 35px; }
.social-box h4,.social-box a            { color: #9B8FB1; }
.social-box a                           { font-size: 30px; line-height: 30px; }
.main-image                             {  width: 50%; height: 100%; background: url('../images/banner-bg-right1.png') no-repeat top left / cover;}
.gradient                               { background: linear-gradient(46.21deg, rgba(255, 230, 5, 0.93) 7.19%, rgba(255, 230, 5, 0.799219) 17.37%, rgba(255, 230, 5, 0.27728) 35.93%, rgba(255, 230, 5, 0) 50.64%), linear-gradient(295.72deg, rgba(255, 0, 0, 0.6) -7.92%, rgba(139, 80, 215, 0.8) 25.67%, rgba(145, 151, 224, 0.8) 48.93%, rgba(104, 205, 216, 0.8) 77.35%), #FFFFFF; border-radius: 64px 0px 0px 140px; width: 70%; height: 37vh;}
.footer-section                         { padding: 10px 0;}
.footer-section.isMobile .copyright-box { flex: 1 0 100%; text-align: center; }
.footer-section.isMobile .footer-links  { display: none; }
.footer-links ul                        { display: flex; flex-wrap: wrap;}
.footer-links ul li                     { padding: 0 10px;}
.footer-links ul li a                   { font-size: 16px; line-height: 24px; color:#9B8FB1;}
/** policy pages **/
.policy-pages,
.about-us                                { padding: 50px 0;}
.policy-pages h2,
.about-us h2                           { margin-bottom: 24px;}
.policy-pages p                       { margin-bottom: 10px; line-height: 24px;}
.policy-section                         { margin-bottom: 20px;}
.policy-section ul                      { list-style: disc;}
.policy-section li                   { font-size: 16px; line-height: 24px;}
.policy-section li:not(:last-child)  { margin-bottom: 10px;}
.policy-section ol                      { list-style: decimal;}

/* about us */
.about-us img                           { width: 100%;}
.about-us p                             { margin-bottom: 16px; line-height: 24px;}

@media (min-width: 1600px) and (max-width: 1699px)
{
    h1                                      { font-size: 70px; line-height: 70px;  }
    h4                                      { font-size: 18px; line-height: 30.4px; }
}

@media (min-width: 1400px) and (max-width: 1599px)
{
    h1                                      { font-size: 70px; line-height: 70px;  }
    h4                                      { font-size: 18px; line-height: 30.4px; }
}
@media (min-width: 1200px) and (min-height: 600px) and (max-height: 750px){
    .banner-txt-wrap                        { margin: auto 0; }
}

@media (min-width: 1200px) and (max-width: 1399px)
{
    h1                                      { font-size: 55px; line-height: 55px;  }
    h4                                      { font-size: 20px; line-height: 34.4px; }
    .banner-landing-page                    { padding: 0px 0px 48px; height: 100%; }
    .banner-wrapper                         { padding-top: 65px; position: relative; height: 100%; }

}
@media (min-width: 992px){
    .banner-wrapper .container-fluid,
    .banner-wrapper .row                    { height: 100%;}
    .banner-txt-wrap                        { padding-right: 20px;}
}

@media (min-width: 992px) and (max-width: 1199px)
{
    h1                                      { font-size: 52px; line-height: 52px;  }
    h4                                      { font-size: 205x; line-height: 34.4px; }
    p,
    .policy-section li                   { font-size: 15px; line-height: 18px; }    
    .banner-left-box img                    { max-width: 55%; }
    .mobile-slider-wrapper                  { margin-left: -20%; }
    .mobile-slider-wrapper .slick-slide img { height: 62vh;   }
    .banner-left-box                        { padding-left: 45px;}
    .social-box                             { left: 45px; }
    .banner-txt-wrap                        { margin-top: 110px; }
    .banner-txt-wrap  h1                    { margin-bottom: 22px; }
    .social-box a                           { font-size: 25px; line-height: 25px; }
    .gradient                               { width: 65%;}
}


@media (min-width: 768px) and (max-width: 991px) 
{
    h1                                      { font-size: 46px; line-height: 46px;  }
    h4                                      { font-size: 22px; line-height: 32.4px; }
    p,
    .policy-section li                   { font-size: 15px; line-height: 18px; }
    body                                    { height: auto;}
    .logo img                               { max-width: 250px;}
    .banner-left-box                        { padding-left: 0px; padding-right: 20px;}
    .banner-wrapper                         { padding-top: 35px;}
    .banner-landing-page,
    .banner-wrapper                         { position: static; height: auto;}
    .slick-slide                            { height: auto;}
    .banner-left-box                        { padding-left: 0px;}
    .banner-txt-wrap                        { margin-top: 40px; text-align: center;}
    .social-box a                           { font-size: 20px; line-height: 30px; }
    .social-list li                         { margin-right: 25px; }
    .mobile-slider-wrapper                  { margin: 40px 0;}
    .mobile-slider-wrapper .slick-slide img { height: auto; width: auto; max-width: 100%; max-height: inherit; }
    .main-image                             { display: none;}
    .gradient                               { margin: auto 0 0; width: 95%; border-radius: 64px 0px 0px 92px; height: 215px;}

     /* FOOTER  */
     .footer-links ul li                     {padding: 0px 20px 0px 0px;}
     .footer-section                         {text-align: center;}
     .footer-links ul                        { justify-content: center;}

     /* HEADER  */
     .logo                                   { text-align: center;}

     /* BANNER  */
     .bg-wrapper                            {height: 88%;}
}
@media (max-width: 767px)  and (orientation: landscape)
{
    /* LANDING PAGE  */
    /* BANNER  */
    .bg-wrapper                             {height: 75% !important;}
}
@media (min-width: 355px) and (max-width: 576px) {
    .bg-wrapper                                     {height: 88% !important;}
}
@media (max-width: 393px) {
    .bg-wrapper                             {height: 84% !important;}
}
@media (max-width: 767px)  
{
    ul                                      { padding: 0px;}
    h1                                      { font-size: 42px; line-height: 42px;  }
    h4                                      { font-size: 20px; line-height: 30.4px; }
    p,
    .policy-section li                   { font-size: 14px; line-height: 16px; }
    body                                    { height: auto;}
    .logo img                               { max-width: 200px;}
    .banner-wrapper                         { padding-top: 35px;}
    .banner-landing-page,
    .banner-wrapper                         { position: static; height: auto;}
    .slick-slide                            { height: auto;}
    .banner-left-box                        { padding-left: 0px;}
    .banner-txt-wrap                        { margin-top: 40px; text-align: center;}
    .social-box a                           { font-size: 20px; line-height: 30px; }
    .social-list li                         { margin-right: 25px; }
    .mobile-slider-wrapper                  { margin: 40px 0;}
    .mobile-slider-wrapper .slick-slide img { height: auto; width: auto; max-width: 100%; }
    .main-image                             { display: none;}
    .gradient                               { margin: auto 0 0; width: 95%; border-radius: 64px 0px 0px 92px; height: 215px;}
    
    /* FOOTER  */
    .footer-links ul li                     {padding: 0px 20px 0px 0px;}
    .footer-section                         {text-align: center;}
    .footer-links ul                        { justify-content: center;}

    /* LANDING PAGE  */
    /* BANNNER  */
    .bg-wrapper                             { height: 84%;}
    .banner-landing-page                    { padding: 0px 0px 32px;}
    /* HEADER  */
    .logo                                   {text-align: center;}
}

@media (max-width: 576px)
{
    .copyright-box { margin-top: -35px; }
}